In [3]:
import wrds

conn = wrds.Connection()
# conn.create_pgpass_file()

Loading library list...
Done

In [4]:
# conn.describe_table(library = 'crspq', table = 'dsf')

In [5]:
ct = conn.get_table(library ='crspa', table = 'dsfhdr', columns = ['cusip','htick'])
id_ticker = ct[ct.htick.values != None].set_index('cusip')
ticker_id = ct[ct.htick.values != None].set_index('htick')

###  Change for your own Ticker and Date

In [6]:
ticker = 'AAPL'
start = '2018-09-01'
end = '2018-09-30'

In [8]:
ID = ticker_id.loc[ticker].values[0] # type: str
stmt = "SELECT date, cusip, openprc, askhi, bidlo, vol, ret, prc \
        FROM crspa.dsf \
        WHERE cusip = '{}' AND (date BETWEEN '{}' AND '{}') ".format(ID, start, end)
data =  conn.raw_sql(stmt)
data.columns = ['date','cusip','open','high','low','volume','return','close']
data['ticker'] = ticker
data.head()

,date,cusip,open,high,low,volume,return,close,ticker
0,2018-09-04,03783310,228.410004,229.179993,226.630005,27387073.0,0.003207,228.360001,AAPL
1,2018-09-05,03783310,228.990005,229.669998,225.100006,33369115.0,-0.006525,226.869995,AAPL
2,2018-09-06,03783310,226.229996,227.350006,221.300003,34286666.0,-0.016617,223.100006,AAPL
3,2018-09-07,03783310,221.850006,225.369995,220.710007,37616010.0,-0.008068,221.300003,AAPL
4,2018-09-10,03783310,220.949997,221.850006,216.470001,39516786.0,-0.013421,218.330002,AAPL

### Ready to use

In [6]:
# data = data.set_index('date')
# data