### Set up

In [5]:
# !pip install wrds

import wrds

conn = wrds.Connection()
#conn.create_pgpass_file()

Loading library list...
Done

### View column names

In [7]:
# all columns in a specific table, which include all stocks' data in one day

# conn.describe_table(library = 'taqmsec', table = 'cqm_20180608')

### Get data

In [8]:
# WRDS data is stored on Postgres.
# SELECT => pick variable(s), * for all
# FROM => dataset name
# other SQL sytex including, WHERE, ORDER BY, GROUP BY, amd so on

# stmt: SELCT column1, column2, ...
#       From table_name
#       WHERE symbol and time range

stmt = "SELECT date, time_m, ex, sym_root, bid, ask, bidsiz, asksiz \
        FROM taqmsec.cqm_20180608 \
        WHERE sym_root = 'AAPL' AND (time_m BETWEEN '04:00:00' AND '04:01:00') "
data =  conn.raw_sql(stmt)
data.head()

         date           time_m ex sym_root     bid  ask  bidsiz  asksiz
0  2018-06-08  04:00:00.072000  P     AAPL    1.00  0.0     1.0     0.0
1  2018-06-08  04:00:00.072000  P     AAPL    1.00  0.0     2.0     0.0
2  2018-06-08  04:00:00.072000  P     AAPL   15.00  0.0     1.0     0.0
3  2018-06-08  04:00:00.072000  P     AAPL  190.00  0.0     2.0     0.0
4  2018-06-08  04:00:00.072000  P     AAPL  190.31  0.0     8.0     0.0